:root {
    --font-body-family:var(--font-body-family): sans-serif;
    --font-body-style:var(--font-body-style): normal;
    --font-heading-family:var(--font-heading-family): 'brush-script-mt-italic', sans-serif;
    --background-color:var(--background-color): rgb(170, 2, 2);
    --font-color:var(--font-color): #ffff;


}
}

body {
    font-family: 
    display: block;
}

#spc-logo {
    /* height: 173px; */
    /* width: 242px; */
    position: absolute;
    padding-bottom: 10px;
}

.image.is-64x64 {
    height: 120px;
    width: 343px;
}

.breadcrumb {
    background-color: rgb(255, 255, 255);
    font-color: black;
}

.nav-link {
    background-color: white;
}
/* nav hover react */
li :hover {
    background-color: rgba(182, 182, 182, 0.178);
}